body {
  background-color: #fdfdfd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

abbr {
  text-decoration: none;
}

blockquote {
  font-size: 14px;
}

code {
  background: #f0f0f0;
  color: inherit;
}

img {
  max-width: 100%;
}

kbd {
  background-color: #f8f8f8;
  color: #666;
}


#main-tab {
  margin-bottom: 20px;
}


@media (min-width: 1200px) {
  .taiga-icon {
    height: 225px;
  }
}

.btn-download {
  margin: 10px 0;
}
.btn-download .version {
  color: #adf;
}


.inset {
  background: #eee;
  margin: 40px 0;
  padding: 40px 0;
}

.screenshot {
  text-align: center;
}
@media (max-width: 991px) {
  .screenshot:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
.screenshot .thumbnail {
  margin-bottom: 5px;
}


#feature-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.media .glyphicon {
  color: #428bca;
}

.well {
  font-size: 14px;
  padding-bottom: 9px;
}

.text-muted {
  color: #999;
}


.page-api h1,
.page-latest h1 {
  margin-top: 0;
}

.page-api h2 {
  margin-top: 30px;
}

.page-api .footnote {
  margin-top: 40px;
}
