<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ self.title() }}</title>
  <meta name="description" content="{{ self.description() }}">
  <meta name="author" content="erengy">
  <meta property="og:description" content="{{ self.description() }}">
  <meta property="og:image" content="https://taiga.moe/assets/img/icon/taiga_256px.png">
  <meta property="og:title" content="{{ self.title() }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://taiga.moe{{ self.path() }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@taigaapp">
  <link rel="canonical" href="https://taiga.moe{{ self.path() }}">
  <link rel="shortcut icon" href="assets/img/icon/taiga_16px.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  {%- if self.body_class() == 'page-index' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" integrity="sha256-tBxlolRHP9uMsEFKVk+hk//ekOlXOixLKvye5W2WR5c=" crossorigin="anonymous">
  {%- endif %}
  <link rel="stylesheet" href="assets/css/taiga.css?v={{ version }}">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js" integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw==" crossorigin="anonymous"></script>
</head>

<body class="{% block body_class %}{% endblock %} py-4">
  {%- block content %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  {%- if self.body_class() == 'page-index' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js" integrity="sha256-CtKylYan+AJuoH8jrMht1+1PMhMqrKnB8K5g012WN5I=" crossorigin="anonymous"></script>
  <script src="assets/js/taiga.js?v={{ version }}"></script>
  {%- endif %}
  {%- if self.body_class() == 'page-api' %}
  <script src="assets/js/taiga-api.js?v={{ version }}"></script>
  {%- endif %}
</body>
</html>
