{% extends 'base.html' %}

{% block title %}Taiga{% endblock %}
{% block description %}An open-source desktop application that helps you manage your anime library, discover new series, share watched episodes and download new ones.{% endblock %}
{% block body_class %}page-index{% endblock %}
{% block path %}/{% endblock %}

{% block content %}
  <!-- Navigation -->
  <div class="container">
    <ul id="main-tab" class="nav nav-tabs mb-4" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="features-tab" data-toggle="tab" href="#features" role="tab" aria-controls="features" aria-selected="false">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="support-tab" data-toggle="tab" href="#support" role="tab" aria-controls="support" aria-selected="false">Support</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <!-- Home page -->
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <!-- Main -->
      <div class="mb-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-4 col-lg-3">
              <img class="taiga-icon img-fluid" src="assets/img/icon/taiga_256px.png" alt="=^.^=" title="Vector art by saka">
            </div>
            <div class="col-12 col-sm-8">
              <h1 class="h2 mt-2">Taiga makes life easier for anime enthusiasts</h1>
              <p>Taiga is an open-source desktop application for Windows. It automatically detects the anime videos you watch on your computer and synchronizes your progress with online services. It helps you manage your anime library, discover new series, share watched episodes and download new ones.</p>
              <a class="btn btn-lg btn-primary btn-download mb-3" href="/download.php" title="~1MB — Works on Windows Vista and above">
                <span class="fas fa-download"></span> Download <span class="version">v1.3</span>
              </a>
              <p class="small mb-0">Requires an <a href="https://anilist.co/">AniList</a> or <a href="https://kitsu.io/">Kitsu</a> account. Source code is available at <a href="https://github.com/erengy/taiga">GitHub</a>.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Screenshots -->
      <div class="bg-light mb-5 py-5">
        <div class="container">
          <div class="row">
            {%- for item in screenshots %}
            <div class="col-12 col-md-4">
              <figure class="figure mb-3 mb-md-0">
                <a href="https://i.imgur.com/{{ item['id'] }}.png" data-lightbox="screenshot" data-title="{{ item['title'] }}">
                  <img class="figure-img img-fluid img-thumbnail" src="https://i.imgur.com/{{ item['id'] }}.png" alt="{{ item['title'] }}">
                </a>
                <figcaption class="figure-caption text-center">{{ item['caption'] }}</figcaption>
              </figure>
            </div>
            {%- endfor %}
          </div>
        </div>
      </div>

      <!-- Quotes -->
      <div class="container">
        <div class="row">
          {%- for quote in quotes %}
          <div class="col-12 col-md-4">
            <blockquote class="small">
              <p class="mb-1">{{ quote['text'] }}</p>
              <cite class="text-muted"><i class="fas fa-user"></i> {{ quote['author'] }}</cite>
            </blockquote>
          </div>
          {%- endfor %}
        </div>
      </div>
    </div>

    <!-- Features page -->
    <div class="tab-pane fade" id="features" role="tabpanel" aria-labelledby="features-tab">
      <div class="container">
        <h2 class="h3 mb-4">It doesn't do everything, but it has some neat features</h2>
        <div class="row">
          <div class="col-12 col-lg-10">
            <ul class="list-unstyled">
              {%- for feature in features %}
              <li class="media">
                <i class="fas fa-2x {{ feature['icon'] }} text-primary mr-3"></i>
                <div class="media-body">
                  <h3 class="h4">{{ feature['title'] }}</h3>
                  <p>
                    {{ feature['content'] | safe }}
                    <a class="d-inline-block small" data-toggle="collapse" href="#{{ feature['slug'] }}-more">Learn more</a>
                  </p>
                  <div id="{{ feature['slug'] }}-more" class="collapse">
                    <div class="card bg-light mb-3">
                      <div class="card-body small p-3">
                        {{ feature['body'] | safe }}
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              {%- endfor %}
            </ul>
          </div>
        </div>
        <div class="h3">And it's all packed up into a tiny file that fits into your palmtop! <span class="text-muted">ヽ(ﾟ〇ﾟ)ﾉ</span></div>
      </div>
    </div>

    <!-- Support page -->
    <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
      <div class="container">
        <div class="alert alert-primary mb-4">
          <p class="mb-2">
            Visit the
            <a href="https://anilist.co/forum/thread/2846" class="alert-link">AniList thread</a>,
            <a href="https://kitsu.io/groups/taiga" class="alert-link">Kitsu group</a> or
            <a href="https://github.com/erengy/taiga/issues" class="alert-link">GitHub page</a>
            to report issues and to request new features.
          </p>
          <p class="mb-0">
            You can also join our
            <a href="https://discord.gg/yeGNktZ" class="alert-link">Discord server</a> or follow the
            <a href="https://twitter.com/taigaapp" class="alert-link">Twitter account</a>
            of Taiga.
          </p>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6 mb-3 mb-lg-0">
            <h3 class="h4">Frequently Asked Questions</h3>
            {% for item in support['faq'] %}
            <div class="card mb-1">
              <div class="card-header">
                <a data-toggle="collapse" href="#{{ item['slug'] }}">
                  <h4 class="h6 text-body mb-0">{{ item['title'] }}</h4>
                </a>
              </div>
              <div id="{{ item['slug'] }}" class="collapse">
                <div class="card-body">{{ item['body'] | safe }}</div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="col-12 col-lg-6">
            <h3 class="h4">Common Issues</h3>
            {% for item in support['issues'] %}
            <div class="card mb-1">
              <div class="card-header">
                <a data-toggle="collapse" href="#{{ item['slug'] }}">
                  <h4 class="h6 text-body mb-0">{{ item['title'] }}</h4>
                </a>
              </div>
              <div id="{{ item['slug'] }}" class="collapse">
                <div class="card-body">{{ item['body'] | safe }}</div>
              </div>
            </div>
            {% endfor %}

            <h3 class="h4 mt-3">How It Works</h3>
            {% for item in support['how-it-works'] %}
            <div class="card mb-1">
              <div class="card-header">
                <a data-toggle="collapse" href="#{{ item['slug'] }}">
                  <h4 class="h6 text-body mb-0">{{ item['title'] }}</h4>
                </a>
              </div>
              <div id="{{ item['slug'] }}" class="collapse">
                <div class="card-body">{{ item['body'] | safe }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
