{% extends 'base.html' %}

{% block title %}Latest Build of Taiga{% endblock %}
{% block description %}This build may include unstable features.{% endblock %}
{% block body_class %}page-latest{% endblock %}
{% block path %}/latest.html{% endblock %}

{% block content %}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="https://taiga.moe/">Taiga</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ self.title() }}</li>
      </ol>
    </nav>

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <img class="taiga-icon img-fluid" src="assets/img/icon/taiga_256px.png" alt="=^.^=" title="Vector art by saka">
      </div>
      <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
        <h1 class="h2 mt-2">{{ self.title() }}</h1>
        <p class="mb-2">This build is a preview of Taiga's next version, containing the improvements made since the last public release. Note that it may include unstable features. It is provided for testing, not for daily use.</p>
        <h2 class="h5">Usage</h2>
        <ol class="pl-3">
          <li>Exit Taiga, if it is still running.</li>
          <li>Take a backup of your installation directory (<code>%AppData%\Taiga</code> by default), just in case.</li>
          <li>Move the downloaded file into your installation directory, replacing the old <code>Taiga.exe</code>.</li>
        </ol>
        <a class="btn btn-primary btn-md btn-download" href="/latest.php">
          <i class="fas fa-download"></i> Download <span class="version">Taiga.exe</span>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
